@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <table class="arrowes-table table-striped">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Underviser</th>
            <th>Varighed</th>
            <th>Detaljer</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in CourseController.courses)
        {               
            <tr>
                <td>@item.Title</td>
                <td>@item.Teacher</td>
                <td>@item.DurationInWeeks Uger</td>
                <td><a href="/course/@item.Id">Detaljer</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>